*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #00A6FB;
}
.app{
    width: min(95vw, 35.25em);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
}
.container{
    padding: 32px 38px;
    background-color: #042030;
    border-radius: 5px;
}
#wrapp{
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 8px;
}
#wrapp input{
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 3px solid #023047;
    font-size: 16px;
    padding: 10px;
}
#wrapp button{
    position: relative;
    border-radius: 10px;
    border: 3px solid #111111;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
#tasks{
    margin-top: 16px;
    border-radius: 8px;
    width: 100%;
    position: relative;
    padding: 10px;
}
.task{
    background-color: transparent;
    padding: 10px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 2fr;
    gap: 16px;
    border: 2px solid silver;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 5px);
}
.task:not(:first-child){
    margin-top: 16px;
}
.task input[type="checkbox"]{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid wheat;
    position: relative;
    appearance: none;
}
.task input[type="checkbox"]::before{
    content: "";
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
}
.task input[type="checkbox"]:checked{
    background-color: #5a95ff;
}
.task input[type = "checkbox"]:checked::before{
    position: absolute;
    content: "\f00c";
    color: #fff;
    font-size: 11px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.task span{
    font: 15px;
    font-weight: 400;
    word-break: break-all;
}
.task button{
    color: #fff;
    width: 100%;
    padding: 16px 0;
    border-radius: 8px;
    border: none;
    outline: none;
}
.edit{
    background-color: #5a95ff;
}
.delete{
    background-color: #ff5c5c;
}
.completed{
    text-decoration: line-through;
    color: #a0a0a0;
}
#error{
    margin-top: 16px;
    color: red;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 9px;
}
#pending{
    color: #fff;
}

